body
{
    font-family: 'Arial';
    color: black;
    font-size: 16px;
    background-color: white;
}

a
{
    color: red;
}

a:hover {
    color: green;
    text-decoration: underline;
}

a:visited {
    color: purple;
}

.author
{
    font-weight: bolder;
}